<template>
  <q-page :class="data ? 'row justify-center' : 'row flex-center'">
    <div class="col-lg-4 col-md-6 col-12">
      <search-card @data="data = $event" />
      <data-card v-if="data" :data="data" />
    </div>
  </q-page>
</template>

<script setup>
import SearchCard from "components/SearchCard.vue";
import DataCard from "components/DataCard.vue";
import { ref } from "vue";

const data = ref();
</script>
