<template>
  <q-card class="q-mt-md">
    <q-card-section>
      <div class="text-h6">
        {{ currentWeather }}
      </div>
    </q-card-section>
    <q-card-section>
      <div><b>Current temperature:</b> {{ currentTemp }} C</div>
      <div><b>Today high:</b> {{ todayHigh }} C</div>
      <div><b>Today low:</b> {{ todayLow }} C</div>
    </q-card-section>
    <q-expansion-item
      expand-separator
      label="More details"
      caption="Wind speed, humidity, pressure, sunrise/sunset time"
    >
      <q-card-section>
        <div><b>Wind speed:</b> {{ windSpeed }} m/s</div>
        <div><b>Humidity:</b> {{ humidity }} %</div>
        <div><b>pressure:</b> {{ pressure }} hPa</div>
        <div><b>Sunrise time:</b> {{ sunrise }}</div>
        <div><b>Sunset time:</b>{{ sunset }}</div>
      </q-card-section>
    </q-expansion-item>
    <q-card-section>
      <div class="text-subtitle2">Next 7 days's forecast</div>

      <div class="flex q-gutter-sm">
        <forecast-card
          v-for="(item, index) in forecasts"
          :key="index"
          :data="item"
        />
      </div>
    </q-card-section>
    <q-card-section>
      <div class="text-subtitle2">Last 5 days's forecast</div>

      <q-banner class="bg-negative text-white">
        I could not figure out where in their documentation it's the free plan
        for forecast of passed days, but at least i will explain what i would
        have done: Request by the api by day if needed, and show using the
        "forecast-card" component
      </q-banner>
    </q-card-section>
  </q-card>
</template>

<script setup>
import ForecastCard from "components/ForecastCard.vue";
import { computed } from "vue";
import { date } from "Quasar";

const p = defineProps(["data"]);

const hasData = computed(() => {
  if (!p.data) return false;
  if (!p.data.current) return false;
  if (!p.data.current.weather) return false;
  if (!p.data.current.weather.length) return false;
  return true;
});

const currentWeather = computed(() => {
  if (!hasData.value) return;
  const weather = p.data.current.weather[0];
  return `${weather.main} (${weather.description})`;
});

const todayHigh = computed(() => {
  if (!hasData.value) return;
  const weather = p.data.daily[0].temp;
  return weather.max;
});

const todayLow = computed(() => {
  if (!hasData.value) return;
  const weather = p.data.daily[0].temp;
  return weather.min;
});

const current = computed(() => {
  if (!hasData.value) return;
  return p.data.current;
});

const currentTemp = computed(() => {
  if (!current.value) return;
  return current.value.temp;
});

const windSpeed = computed(() => {
  if (!current.value) return;
  return current.value.wind_speed;
});

const humidity = computed(() => {
  if (!current.value) return;
  return current.value.humidity;
});

const pressure = computed(() => {
  if (!current.value) return;
  return current.value.pressure;
});

const sunset = computed(() => {
  if (!current.value) return;
  return date.formatDate(current.value.sunset * 1000, "HH:mm");
});

const sunrise = computed(() => {
  if (!current.value) return;
  return date.formatDate(current.value.sunrise * 1000, "HH:mm");
});

const forecasts = computed(() => {
  if (!hasData.value) return;
  return p.data.daily.slice(1);
});
</script>
