<template>
  <div class="forecast-card">
    <div class="text-subtitle2">
      {{ weather.main }}
    </div>
    <div>
      {{ weather.description }}
    </div>
  </div>
</template>

<script setup>
import { computed } from "vue";

const p = defineProps(["data"]);

const weather = computed(() => p.data.weather[0]);
</script>

<style lang="sass">
.forecast-card
  border: 1px solid $grey-4
  padding: 8px 4px
</style>
