<template>
  <q-card>
    <div
      class="row justify-center q-gutter-md q-pb-md q-px-md q-mt-md search-card"
    >
      <div class="col-12">
        <q-input v-model="search" label="City" @keyup.enter="load">
          <template #append>
            <q-btn color="primary" icon="send" @click="load" />
          </template>
        </q-input>
      </div>
    </div>
  </q-card>
</template>

<script setup>
import { Loading, Notify } from "quasar";
import { ref } from "vue";

import { api } from "boot/axios";

const search = ref("");
const emit = defineEmits(["data"]);

async function grabApiForecast(lat, lon) {
  const res = await api.get("data/2.5/onecall", {
    params: {
      lat,
      lon,
      units: "metric",
      exclude: "hourly,minutely",
    },
  });

  emit("data", res.data);
}
async function load() {
  if (!search.value) return Notify.create("Enter a city to see weather");
  Loading.show();

  try {
    const preRes = await api.get("geo/1.0/direct", {
      params: {
        q: search.value,
        exclude: "hourly,minutely",
      },
    });

    if (!preRes.data.length) {
      Notify.create("Forecast not found, try another city");
    } else {
      const { lat, lon } = preRes.data[0];
      await grabApiForecast(lat, lon);
    }
  } catch (error) {
    Notify.create("The api returned a error");
    console.error(error);
  }
  Loading.hide();
}

async function getBrowserCoords() {
  if (window.Cypress) return;
  navigator.geolocation.getCurrentPosition((position) => {
    Loading.show();
    const lat = position.coords.latitude;
    const lon = position.coords.longitude;
    api
      .get("geo/1.0/reverse", {
        params: {
          lat,
          lon,
          limit: 1,
        },
      })
      .then((e) => {
        if (!e.data.length) return;
        const target = e.data[0];
        search.value = `${target.name}, ${target.state} - ${target.country}`;
      });

    grabApiForecast(lat, lon).finally(Loading.hide());
  });
}

getBrowserCoords();
</script>
